In [20]:
#1
word = input("enter a word\n")
for letter in word:
  #print(letter)
  count=word.count(letter)
  print(f"{letter}={count}")
 # if letter in word:
  #  print("count of {letter} =" word.count(letter))

enter a word
assignment
a=1
s=2
s=2
i=1
g=1
n=2
m=1
e=1
n=2
t=1

In [ ]:
#2
def max_num_three(x,y,z):
   if x > y and x>z:
     max_num = x
   elif y>z:
    max_num = y
   else:
    max_num = z
   return max_num
max_num_three(23,54,88)

88

In [22]:
#3.
base=int(input("enter the base\n"))
exponent=int(input("enter the exponent\n"))
output = base**exponent
print("output = ",output)

enter the base
3
enter the exponent
4
output =  81

In [23]:
#4.
num = int(input("Enter a positive integer\n"))
sum=0
for n in range(1,num):
  sum+=n**3
print(f"sum = {sum}")

Enter a positive integer
5
sum = 100

In [8]:
#5.
for i in range(1,11):
  if i%2==0 and i%5!=0:
    print("Fizz")
  elif i%5==0 and i%2!=0:
     print("Buzz")
  elif i%2==0 and i%5==0:
    print("FizzBuzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [7]:
#6.
myList=[2,5,4,7,5,9,6,2]
count=0
n=0
i=0
for x in range(0,len(myList)):
  n=myList.count(myList[x])
  if n>count:
    count=n
    i=x
most_freq_item=myList[i]
print("Most frequent item is",most_freq_item)

Most frequent item is 2

In [10]:
#8.
for i in range(1,16):
  if i%2==0:
    print(f"{i} is even")
  else:
    print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

In [13]:
#9.
f=int(input("Enter temperature in farenheit\n"))
c= (f-32)*5/9
print(f"Temperature in celcius is {c}")

Enter temperature in farenheit
99
Temperature in celcius is 37.22222222222222

In [19]:
#10

def fact(num):
  if num ==0:
     return 1
  else:
    i=0
    f=1
    while i<num:
      i+=1
      f=f*i
  return f
fact(6)

720